[submodule "GRFICSv3"]
	path = GRFICSv3
	url = https://github.com/Fortiphyd/GRFICSv3
[submodule "labshock"]
	path = labshock
	url = https://github.com/zakharb/labshock
[submodule "ot-lab_azure"]
	path = ot-lab_azure
	url = git@gitlab.kudelski.com:sjensen/ot-lab_azure.git
