[submodule "GRFICSv3"]
	path = GRFICSv3
	url = https://github.com/Fortiphyd/GRFICSv3
[submodule "labshock"]
	path = labshock
	url = https://github.com/zakharb/labshock
[submodule "ot-lab_azure"]
	path = ot-lab_azure
	url = git@gitlab.kudelski.com:sjensen/ot-lab_azure.git
[submodule "rangerdanger"]
	path = rangerdanger
	url = https://github.com/tonylturner/rangerdanger
[submodule "containd"]
	path = containd
	url = https://github.com/tonylturner/containd
[submodule "conpot"]
	path = conpot
	url = https://github.com/mushorg/conpot
[submodule "malcolm"]
	path = malcolm
	url = https://github.com/cisagov/Malcolm
[submodule "icssim"]
	path = icssim
	url = https://github.com/AlirezaDehlaghi/ICSSIM
[submodule "icsvirtual"]
	path = icsvirtual
	url = https://github.com/sfl0r3nz05/ICSsVirtualForCiberSec
